@{
    ViewData["Title"] = "Calculator";
    int a = 1;
    int b = 2;
    int sum = a + b;
}
<h1>@ViewData["Title"]</h1>

<p>This page is dedicated to calculator function.</p>


<h1>Sum is @(a+b)</h1>
<h2>Sum is @ViewBag.result</h2>